.header {
  width: 100%;
  position: relative;
}
  .nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  height: 50px;
  background-color: #212121;
  }
  .menu {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  padding: 13px 10px;
  list-style-type: none;

  &_item {
  padding-right: 30px;
  border-right: 2px dotted #000;

  &:last-child {
    padding-right: 0;
    border-right: none;
  }

  &_link {
    font-size: 15px;
    line-height: 1;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
  }
}
}
.hamburger {
  display: none;
}
  .subheader {
    position: absolute;
    width: 100%;
    margin-top: 50px;
    min-height: 84px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
        
  &_oficial {
      &_logo {
            max-width: 100%;
            display: block;
            margin-top: 16px;
        }
        span {
            font-weight: 200;
            font-size: 13px;
            line-height: 1.6;
            color: #fff;
        }
    }
    &_call  {
      span {
            display: block;
            text-align: right;
            margin-top: 22px;
            font-weight: 300;
            font-size: 12px;
            line-height: 1.1;
            color: #fff;
        }

    &_tel {
            text-decoration: none;
            font-weight: 400;
            font-size: 22px;
            line-height: 1.4;
            color: #fff;
            text-align: center;
        }
    }

    &_btn {
        .btn {
            margin-top: 20px;
            padding: 0;
            width: 172px;
            height: 46px;
            background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
            box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
            border-radius: 4px;
            border: none;
            outline: none;
            font-weight: 400;
            font-size: 14px;
            color: #fff;
            text-align: center;
            text-shadow: 1px 1px 0px  #00000036;
            text-transform: uppercase;
            
            @include btn_hover;
        }
        }
    }
 
  .promo {
    background: url("../img/uber_bg.jpg") center (center / cover) no-repeat;
    padding: 170px 0 183px;

  
    &_header {
        font-weight: 900;
        font-size: 60px;
        line-height: 60px;
        color: #fff;
        text-align: center;
    }
  
    &_subheader {
        font-weight: 700;
        font-size: 36px;
        line-height: 48px;
        color: #fff;
        text-align: center;
    }
  
    &_descr1 {
        margin-top: 16px;
        font-weight: 400;
        font-size: 17px;
        line-height: 24px;
        color: #fff;
        text-align: center;
  
            &::first-letter {
            margin-left: 25px;
            }
    }        
  
    &_descr2 {
        margin-top: 30px;
        font-weight: 400;
        font-size: 17px;
        line-height: 24px;
        color: #fff;
        text-align: center;
    }
  
    &_btn {
        display: block;
        margin: 0 auto;
        margin-top: 116px;
        width: 259px;
        height: 63px;
        background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
        box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        border: none;
        outline: none;
        font-weight: 400;
        font-size: 18px;
        color: #fff;
        text-align: center;
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
        text-transform: uppercase;
        @include btn_hover;
    }
}
  
  
  .label {
    display: flex;
    width: 115px;
    height: 27px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background: #000000;
    font-weight: 400;
    font-size: 11px;
    line-height: 1;
    color: #fff;
    text-transform: uppercase;
  }
  
  .title {
    margin: 0;
    margin-top: 33px;
    font-weight: 700;
    font-size: 38px;
    color: #222;
    text-align: center;
    text-transform: uppercase;
  }
  .subtitle {
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
  }


  .collab {
    min-height: 850px;
    padding: 20px 0 64px;
  
  
  &_block {
    margin-top: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  &-circle {
    width: 113px;
    height: 113px;
    border-radius: 100%;
    background: $bluecolor;
    margin-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  &_descr {
    width: 343px;
  }
  
  &_subtitle {
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    color: $bluecolor;
  }
  
  &-text {
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
  }
}



.mobile {
  min-height: 860px;
  background: url("../img/mobile_bg.jpg") center (center / cover) no-repeat;
  padding: 46px 0 80px;

    .row {
    margin-top: 32px;
  }
  &_item {
    width: 320px;
    min-height: 280px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 19px;
    padding-top: 88px;
    &_1 {
      background: url("../img/mobile_bcg1.jpg") center (center / cover) no-repeat;
    }
    &_2 {
      background: url("../img/mobile_bcg2.jpg") center (center / cover) no-repeat;
    }
    &_3 {
      background: url("../img/mobile_bcg3.jpg") center (center / cover) no-repeat;
    }
    &_4 {
      background: url("../img/mobile_bcg4.jpg") center (center / cover) no-repeat;
    }
    &_5 {
      background: url("../img/mobile_bcg5.jpg") center (center / cover) no-repeat;
    }
    &_6 {
      background: url("../img/mobile_bcg6.jpg") center (center / cover) no-repeat;
    }
    &_subtitle {
      font-weight: 400;
      font-size: 24px;
      line-height: 31px;
      color:#fff;
      text-align: center;
      text-transform: uppercase;
    }
    &_plus {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 34px;
      left: 50%;
      margin: 0 auto;
      margin-left: -13px;
      width: 29px;
      height: 29px;
      border-radius: 100%;
      background-color: black;
      
      &:before {
        content:"";
        display: block;
        width: 14px; 
        height: 2px;
        background-color: $bluecolor;
        position: relative;
      }
      &:after {
        content:"";
        display: block;
        width: 2px; 
        height: 14px;
        background-color: $bluecolor;
        position: absolute;
        left: 50%;
        transform:translateX(-50%);
      }
    }
  }
}

.auto {
  min-height: 897px;
  padding: 57px 0 137px;
  background: url("../img/mobile_bg.jpg") center (center/cover) no-repeat;
  position: relative;

  .black {
    background-color: #070716;
    height: 500px;
    width: 100%;
    position: absolute;
    top: 0;
    left:0;
  }
  &_img {
    position: relative;
    top: 234px;
    left: 50%;
    margin-left: -380px;
  }
  .label_white {
    background-color: #fff;
    color:black;
    position: relative;
    z-index: 2;
  }
  &_title {
    color: #fff;
    position: relative;
    z-index: 2;
  }
  &_subtitle {
    color: #fff;
    position: relative;
    z-index: 2;
    text-align: center;
  }
  &_descr {
    width: 327px;
    position: relative;
    bottom: -531px;
    margin: 0 auto;
    text-align: center;
    font-weight: 300;
    font-size: 17px;
    line-height: 24px;
    color: #222;
  }

}
 
.conditions {
  padding: 66px 0 87px;

  &_table {
    margin-top: 33px;

    .condition_headline {
      font-weight: 400;
      font-size: 22px;
      color: #1CA8C3;
      padding-bottom: 10px;
    }
    .condition_list {
      margin-top: 5px;

      &_item {
        list-style: none;
        background: url("../icons/V.png") no-repeat left 4px;
        font-weight: 300;
        font-size: 17px;
        line-height: 30px;
        color: #222;
        padding-left: 30px;
      }
    }
    .condition_descr {
      font-weight: 300;
      font-size: 17px;
      line-height: 30px;
      color: #1CA8C3;
      padding-right: 50px;
    }
  }
.table_red {
    margin-top: 61px;

  .condition_headline_red {
    font-weight: 400;
    font-size: 22px;
    color: $redcolor;

  .condition_list_red {
    margin-top: 22px;

  &_item {
    list-style: none;
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    color: #222;
    padding-left: 30px;
    position: relative;

    &::before {
    content: "";
    width: 21px;
    height: 20px;
    background: url("../icons/V-red.png");
    position: absolute;
    top: 5px;
    left: -1px;
          }
        }
      }
    }
  }
}

.world {
  margin-top: 44px;
  background-color: #080816;
  
&_inner {
    min-height:717px;
    margin: 0 auto;
    padding: 46px 0 21px;
    background: url("../img/world_bg.jpg") center (center/contain) no-repeat border-box;
    
.label_white {
      background-color: #fff;
      color:black;
    }
    .world_link {
      display: block;
      width: 223px;
      height: 68px;
      margin: 0 auto;
      margin-top: 456px;
      padding: 26px 14px;
      font-weight: 400;
      font-size: 15px;
      text-align: center;
      color: $bluecolor;
      text-transform: uppercase;
    }
  }
}

.footer {
max-width: 1876px;
min-height: 133px;
margin: 0 auto;
margin-top: 40px;
padding-top: 33px;
padding-left: 22px;
padding-right: 22px;
position: relative;

  &:before {
    content: "";
    width: 290px;
    height: 4px;
    background-color: $bluecolor;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-45%);
  }

  &_inner {
    display: flex;
    justify-content: space-around;
    & > div {
      width: 33%;
      &:nth-child(2) {
        display: flex;
        justify-content: center;
      }
      &:last-child {
        display: flex;
        justify-content: flex-end;
      }
    }
    
    .footer_links {
    
      display: flex;
      justify-content:flex-start;

        &_item {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 32px;
          height: 32px;
          border-radius: 50px;
          background-color: #070716;
          margin-right: 6px;
          .icon-figma:before {
            color: white;
          }
        }
      }
      .footer_nav {
        max-width: 390px;
       
        &_list {
          list-style-type: none;
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;

          &_link a {
            font-weight: 300;
            font-size: 11px;
            text-align: center;
            text-transform: uppercase;
            color: #999;
          }
           &_link:nth-of-type(-n+3) {
            & .last_link1 {
              color:#070716;
              font-weight: 300;
              font-size: 15px;  
            }   
          }
        }
        .sm_link {
          display: none;
        }
      }
  }
     .footer_language_link {
       width: 100px;
        display: block;
        margin: 0 auto;
        font-weight: 400;
        font-size: 11px;
        color: $bluecolor;
        text-transform: uppercase;
        text-align: center;
}
}
.xs-visible {
  display: none;
}
